<!DOCTYPE html>

<h1> AIT Midterm Spring 2020 </h1>

<body>

	<div class="nav">
        <a href="/">home</a>
        <a href="/pledge">pledge</a>
        <a href="/dice">dice</a>
        <a href= "/products"> products </a>
        <a href= "/discounts"> discounts </a>

    </div>

{{{body}}}


</body>

<footer>sp4681</footer>

</html>
